@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;600;700&display=swap');

body {
	font-family: 'Muli', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	padding-bottom: 15px;

}

h1 {
	@include xs {
		font-size: 50px;
		line-height: 52px;
	}

	@include sm {
		font-size: 50px;
		line-height: 52px;
	}

	font-size: 60px;
	line-height: 72px;
}

h2 {
	font-size: 48px;
	line-height: 61px;
}

h3 {
	font-size: 40px;
	line-height: 58px;
}

h4 {
	font-size: 30px;
	line-height: 44px;
}

h5 {
	font-size: 24px;
	line-height: 38px;
}

h6 {
	font-size: 18px;
	line-height: 29px;
}

p {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 15px;

}

ul {
	padding: 10px 0px
}

li {
	font-size: 18px;
	line-height: 30px;

}

.smaller {
	font-size: 16px;
	line-height: 24px;
	font-style: italic;
}